<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
	id="WebApp_ID" version="5.0">
	<display-name>İleri Programlama Ödevi</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>Login.jsp</welcome-file>
	</welcome-file-list>
	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>
	<context-param>
		<param-name>dbUrl</param-name>
		<param-value>jdbc:postgresql://dpg-ctiska8gph6c738cdhcg-a.frankfurt-postgres.render.com:5432/odev1_17de</param-value>
	</context-param>
	<context-param>
		<param-name>dbUser</param-name>
		<param-value>sa</param-value>
	</context-param>
	<context-param>
		<param-name>dbPassword</param-name>
		<param-value>bwcpuqBNFdaAwQWXvSsklgz8SPlRCZ6I</param-value>
	</context-param>
	<error-page>
		<error-code>404</error-code>
		<location>/Error.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/Error.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/Error.jsp</location>
	</error-page>
</web-app>